<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>

            <p><span class='uit-drop'><span class='uit-drop__inner'>I</span></span>n contrast to Europe, the American food system does not operate on the precautionary principle. The agencies that regulate what food producers can and can't put into our bodies wait for evidence of harm before intervening. As a result, the US food system is full of additives and pesticides that may be more tightly regulated – or outright banned – in other countries. </p>

            <p>We've pulled back the curtain on a small amount of what you might be buying when you purchase your weekly shop. To be clear, just because a chemical is banned in other countries doesn't mean it's not safe to eat. The US Department of Agriculture and Environmental Protection Agency considers the chemicals in our food system either safe or safe in limited amounts. But we want to help consumers have a clearer sense of what they put in their carts – and in their bodies.</p>
        </div>
    </div>
</div>
