<div class='uit-checkout-wrapper'>
    <div class='uit-checkout'>
        <div class='uit-checkout__basket'>
            <div class='uit-checkout__item uit-checkout__item--0'>
                <div class='uit-shop__item uit-shop__item--basket-0'></div>
            </div>
            <div class='uit-checkout__item uit-checkout__item--1'>
                <div class='uit-shop__item uit-shop__item--basket-1'></div>
            </div>
            <div class='uit-checkout__item uit-checkout__item--2'>
                <div class='uit-shop__item uit-shop__item--basket-2'></div>
            </div>
            <div class='uit-checkout__item uit-checkout__item--3'>
                <div class='uit-shop__item uit-shop__item--basket-3'></div>
            </div>
        </div>

        <div class='uit-checkout__button uit-button'>Checkout {{> icons/forward }}</div>

        <div class='uit-checkout__layer uit-checkout__top'></div>

        <div class='uit-checkout__scan'></div>

        <div class='uit-checkout__layer uit-checkout__face'></div>
        <div class='uit-checkout__layer uit-checkout__base'></div>
    </div>
</div>
