<div class='uit-checkout-wrapper'>
    <div class='uit-checkout'>
        <div class='uit-checkout__basket'>
            <div class='uit-shop__item uit-shop__item--basket-0'></div>
            <div class='uit-shop__item uit-shop__item--basket-1'></div>
            <div class='uit-shop__item uit-shop__item--basket-2'></div>
            <div class='uit-shop__item uit-shop__item--basket-3'></div>
        </div>

        <div class='uit-checkout__button uit-button'>Checkout</div>

        <div class='uit-checkout__layer uit-checkout__top'></div>

        <div class='uit-checkout__scan'></div>

        <div class='uit-checkout__items'>
            {{#each items}}
                <img class='uit-checkout__item uit-checkout__item--{{ @index }}' src='{{ ../ path }}/assets/{{ handlise food }}.png'  />
            {{/each}}
        </div>

        <div class='uit-checkout__layer uit-checkout__face'></div>
        <div class='uit-checkout__layer uit-checkout__base'></div>
    </div>
</div>
