<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h2 class='uit-header__tag'>
                <a class='uit-header__tag-link' href=''>Toxic America</a>
            </h2>
            <h1 class='uit-header__headline' itemprop='headline'>
                What banned substances might be hiding in your&nbsp;groceries?
            </h1>

            <p class='uit-header__standfirst uit-subhead'>If you live in the US, your grocery store is full of substances banned in Europe. Use our handy tool to find out what they are and how to avoid them</p>

            <div class='uit-header__meta'>
                <div class='uit-header__meta-group'>
                    <p class='uit-header__byline'>
                        <a href='https://www.theguardian.com/profile/caty-enders'>Caty Enders</a> and <a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a>
                    </p>
                    <p class='uit-header__timestamp'>
                        <time itemprop="dataPublished" datatime="2019-05-29T:08:00:00-0500">Wed 29 May 2019 03.00 EST</time>
                    </p>
                </div>
                {{> partials/share }}
            </div>
        </div>
    </div>
</div>
