<div class='uit-items'>
    <div class='uit-items__initial'>
        <h2 class='uit-items__receipt-title uit-subhead'>Your receipt</h2>
        <div class='uit-items__receipt-wrapper'>
            <div class='uit-items__receipt-hole'></div>
            <div class='uit-items__receipt'></div>
        </div>

        <p>Looking for more alternatives? Organic foods often cost more than those that are conventionally grown and may be harder to find in every grocery store. So if your budget and time are limited, you might want to prioritize. <a href='https://gu.com/p/bfyn5'>Here’s a good place to start</a>.</p>

        <a class='uit-button uit-items__button'>Learn about other grocery items {{> icons/down }}</a>
    </div>

    <div class='uit-items__other'>
        <h2 class='uit-items__other-title uit-subhead'>
            <span class='uit-subhead__inner'>The rest</span>
        </h2>
        {{#each items}}
            <div class='uit-items__item' data-item='{{ handlise food }}'>
                <img class='uit-items__item-image' src='{{ ../path }}/assets/{{ handlise food }}.png' />
                <div class='uit-items__item-content'>
                    <h3 class='uit-items__item-name'>{{ food }}</h3>
                    <p class='uit-items__item-description'>{{{ marked whatsInIt }}}</p>
                    <p class='uit-items__item-description'><strong>Who's concerned?</strong> {{{ marked concerned }}}</p>
                    <p class='uit-items__item-alternative'><strong>What's the alternative?</strong> {{{ marked alternative }}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>
