<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/may/28/organic-food-what-to-buy-produce-meat-dairy'>
                    <div class='uit-related__image-wrapper'>
                        <img class='uit-related__image' src='https://media.guim.co.uk/0278c3596fec21231353ab99af236bf9dfd3c4d1/0_86_3000_1799/500.jpg' />
                    </div>
                    <div class='uit-related__headline'>Burgers, berries, bread: 10 foods you should consider buying organic</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/may/22/toxic-chemicals-everyday-items-us-pesticides-bpa'>
                    <div class='uit-related__image-wrapper'>
                        <img class='uit-related__image' src='https://media.guim.co.uk/6ebd5571004dd1375f7bb7db80a65209527335a2/0_0_3000_1800/500.jpg' />
                    </div>
                    <div class='uit-related__headline'>Explained: the toxic threat in everyday products, from toys to plastic</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/may/22/is-modern-life-poisoning-me-i-took-the-tests-to-find-out'>
                    <div class='uit-related__image-wrapper'>
                        <img class='uit-related__image' src='https://media.guim.co.uk/8ba8770a85a167d328d2c80de37c68456a15a942/0_0_3000_1972/500.jpg' />
                    </div>
                    <div class='uit-related__headline'>Is modern life poisoning me? I took the tests to find out</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2019/may/22/chemicals-in-cosmetics-us-restricted-eu'>
                    <div class='uit-related__image-wrapper'>
                        <img class='uit-related__image' src='https://media.guim.co.uk/0d94de224c83b51b59044f957a2e807b0e75a77e/0_0_5700_3800/500.jpg' />
                    </div>
                    <div class='uit-related__headline'>US cosmetics are full of chemicals banned by Europe – why?</div>
                </a>
            </div>
        </div>
    </div>
</div>
