<div class='uit-shop'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-subhead'>
                Select <span class='uit-shop__basket-count'>4 items</span> that make up your weekly shop
            </div>
            <div class='uit-shop__items uit-shop__items--shelf'>
                {{#each items}}
                    <div class='uit-shop__item-wrapper' title='{{ food }}'>
                        <div class='uit-shop__item' data-item='{{ handlise food }}'>
                            <div class='uit-shop__item-delete'>{{> icons/close }}</div>
                            <img class='uit-shop__item-image' src='{{ ../path }}/assets/{{ handlise food }}.png' />
                        </div>
                        <div class='uit-shop__item-shelf'>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class='uit-shop__basket'>
                <img class='uit-shop__basket-image' src='{{ path }}/assets/cart.png' />
                <div class='uit-shop__basket-items'>
                    <div class='uit-shop__item uit-shop__item--basket-0'></div>
                    <div class='uit-shop__item uit-shop__item--basket-1'></div>
                    <div class='uit-shop__item uit-shop__item--basket-2'></div>
                    <div class='uit-shop__item uit-shop__item--basket-3'></div>
                </div>
            </div>
            <div class='uit-shop__button uit-button'>
                Checkout
            </div>
        </div>
    </div>
</div>
