<div class='uit-shop'>
    <div class='uit-subhead'>
        Select <span class='uit-shop__basket-count'>four items</span> regularly on your shopping&nbsp;list
    </div>
    <div class='uit-shop__items uit-shop__items--shelf'>
        {{#each items}}
            <div class='uit-shop__item-wrapper' title='{{ food }}'>
                <div class='uit-shop__item' data-item='{{ handlise food }}'>
                    <div class='uit-shop__item-delete'>{{> icons/close }}</div>
                    <img class='uit-shop__item-image' src='{{ ../path }}/assets/{{ handlise food }}.png' />
                </div>
                <div class='uit-shop__item-shelf'>
                </div>
            </div>
        {{/each}}
    </div>
</div>
