<div class='uit-shop'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-shop__items'>
                <div class='uit-shop__item' data-item='apples'>Apples</div>
                <div class='uit-shop__item' data-item='bananas'>Bananas</div>
                <div class='uit-shop__item' data-item='oranges'>Oranges</div>
                <div class='uit-shop__item' data-item='cherries'>Cherries</div>
                <div class='uit-shop__item' data-item='strawberries'>Strawberries</div>
                <div class='uit-shop__item' data-item='cake'>Cake</div>
            </div>

            <div class='uit-shop__basket'>
                <div class='uit-shop__basket-item uit-shop__basket-item--0'></div>
                <div class='uit-shop__basket-item uit-shop__basket-item--1'></div>
                <div class='uit-shop__basket-item uit-shop__basket-item--2'></div>
                <div class='uit-shop__basket-item uit-shop__basket-item--3'></div>
                <div class='uit-shop__basket-item uit-shop__basket-item--4'></div>
            </div>
        </div>
    </div>
</div>
