$duration: 1s;
$count: 20;

.uit-checkout-wrapper {
    width: calc(100% + 10px);
    margin-left: -10px;
    overflow: hidden;

    @include mq(mobileLandscape) {
        width: calc(100% + 20px);
        margin-left: -20px;
    }

    @include mq(leftCol) {
        width: calc(100% - 9px);
        margin-left: -9px;
    }
}

.uit-checkout {
    position: relative;
    height: 0;
    padding-top: 60%;
}

.uit-checkout__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.uit-checkout__top {
    z-index: 5;
    background-image: url('{{ path }}/assets/header/top.png');
}

@keyframes scan {
    0%, 20%, 26%, 100% {
        background-color: $c-white;
    }

    20%, 25% {
        background-color: $c-red;
    }
}

.uit-checkout__scan {
    position: absolute;
    left: 38%;
    top: 25%;
    width: 6%;
    height: 3.5%;
    z-index: 4;
    animation: scan $duration linear infinite;
}

.uit-checkout__item {
    position: absolute;
    top: 25.5%;
    left: 0;
    transform: translateX(-100%);
    z-index: 3;
    width: 16%;
    height: auto;
    animation: buyItem $duration * $count linear infinite;

    img {
        opacity:0;
    }
}

@for $i from 0 through $count {
    .uit-checkout__item--#{$i} {
        animation-delay: -($duration) * $i;
    }
}

$count: $count / 3; // ensures that three items are visible at once

@keyframes buyItem {
    0% {
        left: 0px;
    }
    #{(100 / $count) * 0.7%}, #{(100 / $count) * 0.73%} {
        left: 92%;
        top: 25.5%;
    }
    #{(100 / $count) * 1%} {
        left: 92.5%;
        top: 70%;
    }
    #{(100 / $count) * 1.0001%} {
        left: 0px;
    }
}

.uit-checkout__face {
    z-index: 2;
    animation: face ($duration * 6) linear infinite;
}

@keyframes face {
    0%, 25%, 40%, 75%, 90%, 100% {
        background-image: url('{{ path }}/assets/header/face--1.png');
    }
    26%, 39% {
        background-image: url('{{ path }}/assets/header/face--2.png');
    }
    76%, 89% {
        background-image: url('{{ path }}/assets/header/face--3.png');
    }
}
.uit-checkout__base {
    z-index: 1;
    background-image: url('{{ path }}/assets/header/base.jpg');
}
