$duration: 5s;

.uit-checkout-wrapper {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    min-width: 500px;
    vertical-align: baseline;
    padding-left: 20px;
    align-self: flex-end;

    @include mq(tablet) {
        padding-left: 100px;
        padding-right: 10px;
        min-width: none;
        width: 620px;
    }

    @include mq(desktop) {
        width: 800px;
        max-width: none;
        padding-left: 20px;
        padding-right: 0;
    }
}

.uit-checkout {
    position: relative;
    height: 0;
    padding-top: 60%;
}

@keyframes beltSlide {
    0% {
        left: 0;
    }
    50%, 55% {
        left: 51%;
    }
    60%, 65% {
        left: 60.5%;
    }
    70%, 75% {
        left: 70.5%;
    }
    80%, 100% {
        left: 80.5%;
    }
}

.uit-checkout__basket {
    display: grid;
    grid: 100% / 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    z-index: 17;

    .uit-market & {
        position: absolute;
        bottom: 48.2%;
        left: 0;
        width: 38%;
        min-height: 21.7%;
    }

    .is-checkedout .uit-market & {
        animation: beltSlide $duration linear;
    }

    .uit-shop__item-delete {
        display: block;

        .is-checkedout & {
            display: none;
        }
    }

    .uit-market & .uit-shop__item-image {
        left: -23%;
        width: 146%;
        pointer-events: none;
    }
}

.uit-basket-wrapper {
    position: fixed;
    background-color: $c-white;
    width: 100%;
    bottom: 0;
    z-index: 10;
    padding: 8px 10px;
    box-sizing: border-box;
    transition: transform 0.4s linear;
    transform: translateY(100%);

    @include mq(mobileLandscape) {
        padding: 8px 20px;
    }

    @include mq(desktop) {
        display: none;
    }

    &.is-visible {
        transform: translateY(0);
    }

    .is-checkedout & {
        transform: translateY(100%);
    }

    .uit-content {
        margin: 0 auto;
    }

    .uit-shop__item {
        margin-bottom: 0;
    }

    .uit-checkout__button {
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
    }

    .uit-subhead {
        padding: 0 110px 20px 0;
    }

    .uit-checkout__basket-item:empty {
        padding-bottom: 100%;
    }
}

@keyframes bagging {
    0%, 51% {
        transform: translateY(0px);
    }
    55%, 100% {
        transform: translateY(120%);
    }
    54.9% {
        opacity: 1;
    }
    55%, 100% {
        opacity: 0;
    }
}

.uit-checkout__basket-item {
    position: relative;

    .is-checkedout .uit-market & {
        animation: bagging $duration linear;
        animation-fill-mode: forwards;
    }

    &:empty:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 6px;
        pointer-events: none;
        border: 2px dashed $c-black;
        transition: transform 0.4s linear;
    }

    .draggable--is-dragging &:empty:hover:before {
        transform: scale(1.1);
    }
}

.uit-checkout__basket-item--2 {
    animation-delay: ($duration / 100) * 10 !important;
}

.uit-checkout__basket-item--1 {
    animation-delay: ($duration / 100) * 20 !important;
}

.uit-checkout__basket-item--0 {
    animation-delay: ($duration / 100) * 30 !important;
}

.uit-checkout__button {
    position: absolute;
    bottom: 33%;
    left: 0;
    z-index: 20;
    transition: opacity 0.8s;
    opacity: 0.2;
    pointer-events: none;

    .is-checkoutable & {
        opacity: 1;
        pointer-events: auto;
    }

    .is-checkedout & {
        opacity: 0;
    }
}

.uit-checkout__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.uit-checkout__top {
    z-index: 20;
    pointer-events: none;
    background-image: url('{{ path }}/assets/header/top.png');
}

@keyframes scan {
    0%, 20% {
        background-color: $c-white;
    }

    5% {
        background-color: $c-red;
    }

}

.uit-checkout__scan {
    position: absolute;
    left: 38%;
    top: 25%;
    width: 6%;
    height: 3.5%;
    z-index: 4;

    .is-checkedout & {
        animation: scan (($duration / 100) * 10) linear 4;
        animation-delay: ($duration / 100) * 8;
    }
}

.uit-checkout__face {
    z-index: 2;
    background-image: url('{{ path }}/assets/header/face--1.png');

    .is-checkedout & {
        animation: face $duration linear;
    }
}

@keyframes face {
    0%, 25%, 60%, 100% {
        background-image: url('{{ path }}/assets/header/face--1.png');
    }
    26%, 39% {
        background-image: url('{{ path }}/assets/header/face--2.png');
    }
    40%, 59% {
        background-image: url('{{ path }}/assets/header/face--3.png');
    }
}
.uit-checkout__base {
    z-index: 1;
    background-image: url('{{ path }}/assets/header/base.jpg');
}
