.uit-market {
    .uit-container {
        overflow: hidden;
    }
}

.uit-market__content {
    @include mq(desktop) {
        display: flex;
        flex-wrap: nowrap;
        width: 1049px;
        margin-left: -9px;
        overflow: hidden;
        overflow: scroll; // debug
        max-height: 600px;
        padding-bottom: 20px;
        transition: max-height 1s linear;
    }

    @include mq(wide) {
        width: 1049px;
    }

    .is-final & {
        max-height: 3000px;
    }
}
