.uit-market {
    .uit-container {
        overflow: hidden;
        user-select: none;
    }
}

.uit-market__content {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    margin-left: -10px;
    height: 150vw;
    padding-bottom: 20px;
    transition: height 1s linear;
    transition-delay: 5.5s;
    overflow: hidden;

    @include mq(mobileLandscape) {
        margin-left: -20px;
        height: 93vw;
    }

    @include mq(tablet) {
        height: 600px;
        width: 738px;
    }

    @include mq(desktop) {
        margin-left: -9px;
        width: 967px;
    }

    @include mq(wide) {
        width: 1049px;
    }

    .is-final & {
        transition-delay: 0s;
    }
}
