.uit-shop {
    width: calc(100% - 20px);
    padding-left: 10px;
    flex-shrink: 0;

    @include mq(mobileLandscape) {
        width: calc(100% - 40px);
        padding-left: 20px;
    }

    @include mq(tablet) {
        width: 620px;
    }

    @include mq(desktop) {
        padding-left: 10px;
        width: 620px;
    }
}

.uit-shop__items {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-template-rows: auto;

    @include mq(mobileLandscape) {
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 10px;
    }

    &:focus {
        outline: none;
    }

    .is-checkoutable & {
        pointer-events: none;
    }
}

.uit-shop__item {
    position: relative;
    z-index: 10;
    transition: opacity 0.3s linear, transform 0.3s linear;
    transform: scale(.9);
    margin-bottom: -8px;
    width: 100%;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: none;
    }

    .draggable-container--is-dragging &:hover {
        transition: none;
        transform: scale(.9);
    }

    &.draggable-source--is-dragging {
        opacity: 0.5;
    }

    &.draggable-source--is-dragging,
    .uit-checkout__basket & {
        transform: none;
        transition: none;

        &:hover {
            transform: none;
            transition: none;
        }
    }

    &.is-in-basket {
        opacity: 0.2;
        pointer-events: none;
    }

    &.draggable-mirror {
        z-index: 40;
        transition: none;
    }
}

.uit-shop__item-delete {
    position: absolute;
    z-index: 15;
    top: -8px;
    right: -8px;
    width: 32px;
    height: 32px;
    border: $c-red 1px solid;
    border-radius: 16px;
    background-color: $c-white;
    display: none;
    transition: background 0.2s linear;

    svg {
        width: 100%;
        fill: $c-red;
        transition: fill 0.2s linear;
    }

    &:hover {
        background-color: $c-red;

        svg {
            fill: $c-white;
        }
    }
}

.uit-shop__item-image {
    position: relative;
    z-index: 10;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.uit-shop__item-shelf {
    position: relative;
    z-index: 8;
    background-color: $c-black;
    height: 2px;
    margin-top: -2px;

    @include mq(tablet) {
        margin-bottom: 10px;
    }
}

.uit-shop__checkout {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 12px;
    z-index: 20;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.4s linear;

    @include mq(mobileLandscape) {
        left: 20px;
        right: 20px;
    }

    @include mq(tablet) {
        width: 620px;
        margin: 0 auto;
        left: -60px;
    }

    @include mq(desktop) {
        width: 300px;
        margin: 0;
        left: calc((100% - 980px) / 2 + 660px);
    }

    @include mq(leftCol) {
        left: calc((100% - 1140px) / 2 + 820px);
    }

    @include mq(wide) {
        width: 380px;
    }

    &.is-visible {
        opacity: 1;
    }

    &.is-fixed {
        @include mq(desktop) {
            position: absolute;
            bottom: 12px;
            left: auto;
            right: 0;
            right: -320px;
        }

        @include mq(wide) {
            right: -400px;
        }
    }
}
