.uit-shop__items {
    position: relative;
    padding: 12px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-template-rows: auto;

    @include mq(tablet) {
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 12px;
    }

    &:focus {
        outline: none;
    }
}

.uit-shop__items--shelf {
    margin-bottom: 32px;
    padding-top: 40px;
}

.uit-shop__item {
    position: relative;
    z-index: 2;
    transition: opacity 0.3s linear, transform 0.3s linear;
    transform: scale(.9);
    transform-origin: bottom;
    height: 80px;

    @include mq(tablet) {
        height: 100px;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        transform: none;
    }

    .draggable-container--is-dragging &:hover {
        transition: none;
        transform: scale(.9);
    }

    &.draggable-source--is-dragging {
        opacity: 0.5;
        transform: none;
        transition: none;

        &:hover {
            transform: none;
            transition: none;
        }
    }

    &.is-in-basket {
        opacity: 0.2;
        pointer-events: none;
    }

    &.draggable-mirror {
        z-index: 40;
        transition: none;
    }
}

.uit-shop__item-delete {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 32px;
    height: 32px;
    border: $c-red 1px solid;
    border-radius: 16px;
    background-color: $c-white;
    display: none;

    svg {
        width: 100%;
        fill: $c-red;
    }
}

.uit-shop__item-image {
    max-width: 80px;
    display: block;
    margin: 0 auto;
    max-height: 80px;

    @include mq(tablet) {
        max-height: 100px;
        max-width: 100px;
    }
}

.uit-shop__item-shelf {
    position: relative;
    z-index: 10;
    background-color: $c-black;
    height: 2px;
    margin-top: -2px;
    margin-bottom: 10px;
}

.uit-shop__basket {
    position: relative;
    margin: 12px 0;
    min-height: 120px;
    margin: 0 20px 12px;
    transition: transform 0.4s linear;
    transform-origin: bottom center;

    &.is-above {
        transform: scale(1.1);
    }

    .uit-shop__item-delete {
        display: block;
    }

    .uit-shop__item-name {
        opacity: 0;
    }
}

.uit-shop__basket-image {
    max-width: 60%;
}

.uit-shop__button {
    opacity: .2;
    transition: opacity 1s;
    padding-right: 15px;
    pointer-events: none;

    &.is-activated {
        opacity: 1;
        pointer-events: auto;
    }
}
