.uit-shop__items {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-template-rows: auto;

    @include mq(mobileLandscape) {
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 10px;

    }

    &:focus {
        outline: none;
    }
}

.uit-shop__item {
    position: relative;
    z-index: 2;
    transition: opacity 0.3s linear, transform 0.3s linear;
    transform: scale(.9);
    transform-origin: bottom;
    width: 100%;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: none;
    }

    .draggable-container--is-dragging &:hover {
        transition: none;
        transform: scale(.9);
    }

    &.draggable-source--is-dragging {
        opacity: 0.5;
    }

    &.draggable-source--is-dragging,
    .uit-shop__basket & {
        transform: none;
        transition: none;

        &:hover {
            transform: none;
            transition: none;
        }
    }

    &.is-in-basket {
        opacity: 0.2;
        pointer-events: none;
    }

    &.draggable-mirror {
        z-index: 40;
        transition: none;
    }
}

.uit-shop__item-delete {
    position: absolute;
    z-index: 3;
    top: -8px;
    right: -8px;
    width: 32px;
    height: 32px;
    border: $c-red 1px solid;
    border-radius: 16px;
    background-color: $c-white;
    display: none;

    svg {
        width: 100%;
        fill: $c-red;
    }
}

.uit-shop__item-image {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.uit-shop__item-shelf {
    position: relative;
    z-index: 10;
    background-color: $c-black;
    height: 2px;
    margin-top: -2px;

    @include mq(tablet) {
        margin-bottom: 10px;
    }
}

.uit-shop__checkout {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 12px;
    z-index: 20;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.4s linear;

    @include mq(mobileLandscape) {
        left: 20px;
        right: 20px;
    }

    @include mq(tablet) {
        width: 620px;
        margin: 0 auto;
        left: -60px;
    }

    @include mq(desktop) {
        width: 300px;
        margin: 0;
        left: calc((100% - 980px) / 2 + 660px);
    }

    @include mq(leftCol) {
        left: calc((100% - 1140px) / 2 + 820px);
    }

    @include mq(wide) {
        width: 380px;
    }

    &.is-visible {
        opacity: 1;
    }

    &.is-fixed {
        @include mq(desktop) {
            position: absolute;
            bottom: 12px;
            left: auto;
            right: 0;
            right: -320px;
        }

        @include mq(wide) {
            right: -400px;
        }
    }
}

.uit-shop__basket {
    position: relative;
    transition: transform 0.4s linear;
    transform-origin: bottom center;
    width: 220px;

    @include mq(wide) {
        width: 280px;
    }

    &.is-above {
        transform: scale(1.1);
    }

    .uit-shop__item-delete {
        display: block;
    }

    .uit-shop__item-name {
        opacity: 0;
    }
}

.uit-shop__basket-items {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    .uit-shop__item {
        width: 32%;
        position: absolute;
    }

    .uit-shop__item--basket-0 {
        left: 4%;
        bottom: 7%;

        .uit-shop__item-image {
            transform: rotate(-10deg);
        }
    }

    .uit-shop__item--basket-1 {
        left: 35%;
        bottom: -2%;

        .uit-shop__item-image {
            transform: rotate(-90deg);
        }
    }

    .uit-shop__item--basket-2 {
        right: 0%;
        bottom: 16%;

        .uit-shop__item-image {
            transform: rotate(20deg);
        }
    }

    .uit-shop__item--basket-3 {
        left: 46%;
        bottom: 43%;

        .uit-shop__item-image {
            transform: rotate(40deg);
        }
    }
}

.uit-shop__basket-image {
    width: 100%;
    position: relative;
    pointer-events: none;
    z-index: 5;
    padding-top: 10%;
}

.uit-shop__button {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s;
    padding-right: 15px;
    display: inline-block;
    pointer-events: none;
    align-self: baseline;

    &.is-activated {
        opacity: 1;
        pointer-events: auto;
    }
}
